BOT_TOKEN=your_telegram_bot_token_here
ADMIN_IDS=5888777479,123456789
DEFAULT_REFERRAL=1816
DEFAULT_PASSWORD=Test@123
VERIFY_CODE=7777
TIME_ZONE=Asia/Calcutta
EM_API_URL=https://api.earnmigo.com/api/app/user/login/email
EM_VERIFY_URL=https://api.earnmigo.com/api/app/user/info
EM_CONCURRENCY=250
EM_DELAY=0.002
HOLWIN_INVITE=WLRPSY
REX_INVITE=O6NVYX
HOLWIN_BASE=https://www.holwin123.top
HOLWIN_DI=88dd52c70e7b377527be01c39f5a0a4f
HOLWIN_VTOKEN=18667bd921478af5fe5f6506865e4f8a
REX_BASE=https://rcapi.rexproearn.com
WB_DEFAULT_DELAY=1.0
SELENIUM_ENABLED=false
TWOCAPTCHA_ENABLED=false
TWOCAPTCHA_API_KEY=your_2captcha_key_if_used
